/* ----- contact ----- */

#contact {

    background-color: $main-color;

    #section__contact {


        legend {
            font-family: $font-title;
            font-size: 3em;
            padding: 1em;
        }

        label {
            margin: 0;
        }

        .form {
            width: 60em;
            margin: 1em auto 5em;
            display: grid;
                grid-template-columns: 0.2fr 0.3fr 0.2fr 0.3fr;
                grid-template-rows: repeat(2, 1fr) 1em 10em 2em;
                grid-template-areas:
                    "names a lastname b"
                    "email c store d"
                    "e e e e"
                    "f f f f "
                    "che che che subm";
                gap: 2em;
            padding: 2em;
            border: solid 1px grey;
            border-radius: 10px ;
        }

        .name {
            label {
                grid-area: names;
            }

            input {
                grid-area: a;
            }
        }

        .lastname {
            label {
                grid-area: lastname;
            }

            input {
                grid-area: b;
            }
        }

        .email {
            label {
                grid-area: email;
            }

            input {
                grid-area: c;
            }
        }

        .store {
            label {
                grid-area: store;
            }

            select {
                grid-area: d;
            }
        }

        .text {
            grid-area: e;
        }

        #get_text {
            grid-area: f;
            border-radius: 10px ;
            
        }

        .check {
            grid-area: che;
            display: flex;
                align-items: center ;

            label {
                padding-right: 1em;
            }
        }

        .submit {
            grid-area: subm;
            border-radius: 4px ;
        }
    }
}
