/* ----- contact ----- */

#contact {

    background-color: $main-color;


    #section__contact {

        display:flex;
            justify-content: center;

                h2 {
                    
                    display: grid;
                        place-content: center;
                    font-family: $font-title;
                    padding: 2em;
                    margin: 0 1em;
                    background-color: $tertiary-color;
                }

                #form {
                    margin: 3em;
                    width: 80%;
                    font-family: $font-other;

                    .button {
                        button {
                            width: 100%;
                            color: $secondary-color;
                            background-color: $tertiary-color;
                            border: none;
                            transition: all 0.5s;

                            &:hover {
                                color: $main-color;
                                background-color: $secondary-color;
                            }
                        }

                        
                    }
                }

    }
}
