$main-color: #FBF7F4;
$secondary-color: #020D12;
$tertiary-color: #FAB684;
$font-title: 'Roboto Slab', serif;
$font-other: 'Open Sans', sans-serif;
$shadow: 4px 5px 0 #020D15; 
$background: #e2dfdd;
$top-spacing: calc(100vh - 6.75em);